/* src/index.css */

/* Override Bootstrap headings */
h1, .h1 {
  font-size: 3rem; /* Default Bootstrap size is 2.5rem */
}

h2, .h2 {
  font-size: 2.5rem; /* Default Bootstrap size is 2rem */
}

h3, .h3 {
  font-size: 2rem; /* Default Bootstrap size is 1.75rem */
}

h4, .h4 {
  font-size: 1.75rem; /* Default Bootstrap size is 1.5rem */
}

h5, .h5 {
  font-size: 1.5rem; /* Default Bootstrap size is 1.25rem */
}

h6, .h6 {
  font-size: 1.25rem; /* Default Bootstrap size is 1rem */
}

/* Override Bootstrap body text */
body {
  font-size: 1.2rem; /* Default Bootstrap size is 1rem (16px) */
  line-height: 1.8;  /* Default Bootstrap line height is 1.5 */
}

/* Override Bootstrap paragraph text */
p {
  font-size: 1.2rem; /* Larger paragraph text */
  line-height: 1.8;
}

/* Override Bootstrap links */
a {
  font-size: 1.2rem; /* Larger links */
}

/* Customize Bootstrap navbar text */
.navbar-brand,
.navbar-nav .nav-link {
  font-size: 1.5rem; /* Larger navbar brand and links */
  color: #6c4f4f; /* Adjust the color code as needed */
  
}

/* Override Bootstrap button text */
.btn {
  font-size: 1.2rem; /* Larger button text */
}

/* Customize any other specific elements as needed */
#title {
  color:aliceblue;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family: "Rethink Sans", sans-serif ;
  font-optical-sizing: auto;
  font-style: normal;
}
